[submodule "addon"]
	path = addon
	url = https://github.com/OCAP2/addon.git
[submodule "web"]
	path = web
	url = https://github.com/OCAP2/web.git
[submodule "extension"]
	path = extension
	url = https://github.com/OCAP2/extension.git
